# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Installer Temps
temp_setup_logic.py
custom_nodes.txt
setup_logic.py

# ComfyUI (if installed inside the repo folder)
ComfyUI/

# OS
.DS_Store
Thumbs.db

# Installer Version Tracking
*.hash
.version_hash
.setup_logic.py.hash
.install_comfyui.py.hash
